<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Driver information - CarMe</title>
        <link rel="stylesheet" href="../public/style.css">
    </head>
    <body>
        <header>

        </header>
        <main>
            <div class="detail-container">
                <h1 style="text-align: center; margin-bottom: 50px;">Ana López</h1>
                <section id="info-driver" class="card" style="text-align: center; align-items: center;">
                    <img src="../public/images/ana_lopez.jpg" alt="Ana López image" style="width: 100%; max-width: 300px; border-radius: 5px; margin-bottom: 20px;">

                    <!-- Driver information -->
                    <p><strong>ID:</strong> 12345</p>
                    <p><strong>Community:</strong> Madrid</p>
                    <p><strong>Vehicle:</strong> Toyota Prius</p>
                    <p><strong>Rating:</strong> 4.5 / 5</p>
                    <p><strong>Experience:</strong> 3 years</p>
                    <p><strong>Availability:</strong> Yes</p>
                    <p><strong>Seats available:</strong> 3</p>

                    <div class="button-group">
                        <button type="submit" class="btn-green" style="width: 75px;">Edit</button>
                        <button type="button" class="btn-red" style="width: 75px;">Delete</button>
                        <button type="button" class="btn-blue" onclick="window.location.href='main.html'">Back to Main Page</button>
                    </div>
                </section>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>