<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - CarMe</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header>

    </header>
    <div class="presentacion">
    <video autoplay muted loop playsinline class="video-fondo">
        <source src="../public/images/video.mp4" type="video/mp4">
    </video>

    <div class="contenido-texto">
        <h1 class="display-1">CarMe</h1>
        <p style="font-size: 40px">Bienvenidos a nuestra web, puedes seleccionar un conductor para iniciar un nuevo viaje</p>
    </div>
</div>
    <main class="container mt-4">

        



        
            <div class="row justify-content-end mb-4">
                <div class="col-auto">
                    <a href="newdriver.html"><button>New driver <i class="bi bi-bookmark-plus"></i></button></a>
                </div>
            </div>


        

            <div class="row g-4">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="driver-card">
                        <h3 class="display-6">Ana López</h3>
                        <a href="detail.html"><img src="../public/images/ana_lopez.jpg" alt="Ana López image" ></a>
                    </div>
                </div>   
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="driver-card">
                        <h3 class="display-6">Antonio Sanchez</h3>
                        <a href="detail.html"><img src="../public/images/Antonio_sanchez.jpg" alt="Antonio Sanchez image"></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="driver-card"> 
                        <h3 class="display-6">Carlos Vicente</h3>   
                        <a href="detail.html"><img src="../public/images/carlos_vicente.jpg" alt="Carlos Vicente image" ></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="driver-card">
                        <h3 class="display-6">Alejandro Aparisi</h3>
                        <a href="detail.html"><img src="../public/images/Alejandro_aparisi.avif" alt="Alejandro Aparisi image" ></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="driver-card">
                        <h3 class="display-6">Faustino Blazquez</h3>
                        <a href="detail.html"><img src="../public/images/Faustino_blazquez.jpg" alt="Faustino Blazquez" ></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="driver-card"> 
                        <h3 class="display-6">Fernando Redondo</h3>    
                        <a href="detail.html"><img src="../public/images/Fernando_redondo.jpg" alt="Fernando Redondo image" ></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="driver-card">
                        <h3 class="display-6">Makelelé Villalon</h3>    
                        <a href="detail.html"><img src="../public/images/Makelele_villalon.png" alt="Makelelé Villalon image" ></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="driver-card">
                        <h3 class="display-6">Apu Cherkvasky</h3>   
                        <a href="detail.html"><img src="../public/images/Apu_Cherkvasky.jpg" alt="Apu Cherkvasky image" ></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="driver-card"> 
                        <h3 class="display-6">Pepe Barbacid</h3> 
                        <a href="detail.html"><img src="../public/images/Pepe_barbacid.jpg" alt="Pepe Barbacid image" ></a>
                    </div>
                </div>

            </div>




    </main>

    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
