<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisebentrips</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1 style="font-size: 60px">Sisebentrips</h1>
    <p style="font-size: 40px">Welcome to our <strong><em>page</em></strong>, here you can select a driver to establish a new trip</p>

    <div class="conductor-card">
        <h2>Ana López</h2>
        <a href="detail.html"><img src="../public/images/ana_lopez.jpg" alt="Ana López image" style="width: 100%; max-width: 300px; border-radius: 5px; margin-bottom: 20px;"></a>
    </div>
    <div class="conductor-card">
        <h2>Antonio Sanchez</h2>
        <img src="../public/images/Antonio_sanchez.jpg" alt="Antonio Sanchez image" style="width: 100%; max-width: 300px; border-radius: 5px; margin-bottom: 20px;"></a>
    </div>
    <div class="conductor-card"> 
        <h2>Carlos Vicente</h2>   
        <img src="../public/images/carlos_vicente.jpg" alt="Ana López image" style="width: 100%; max-width: 300px; border-radius: 5px; margin-bottom: 20px;"></a>
    </div>
    <div class="conductor-card">
        <h2>Alejandro Aparisi</h2> 
        <img src="../public/images/Alejandro_aparisi.avif" alt="Ana López image" style="width: 100%; max-width: 300px; border-radius: 5px; margin-bottom: 20px;"></a>
    </div>    
    <div class="conductor-card">
        <h2>Faustino Blazquez</h2>
        <img src="../public/images/Faustino_blazquez.jpg" alt="Ana López image" style="width: 100%; max-width: 300px; border-radius: 5px; margin-bottom: 20px;"></a>
    </div>
    <div class="conductor-card">
        <h2>Fernando Redondo</h2>    
        <img src="../public/images/Fernando_redondo.jpg" alt="Ana López image" style="width: 100%; max-width: 300px; border-radius: 5px; margin-bottom: 20px;"></a>
    </div>
    <div class="conductor-card">
        <h2>Makelelé Villalon</h2>    
        <img src="../public/images/Makelelé_villalon.jpg" alt="Ana López image" style="width: 100%; max-width: 300px; border-radius: 5px; margin-bottom: 20px;"></a>
    </div>
    <div class="conductor-card">
        <h2>Manolo Gutierrez</h2>   
        <img src="../public/images/Manolo_gutierrez.jpg" alt="Ana López image" style="width: 100%; max-width: 300px; border-radius: 5px; margin-bottom: 20px;"></a>
    </div>
    <div class="conductor-card">
        <h2>Pepe Barbacid</h2> 
        <img src="../public/images/Pepe_barbacid.jpg" alt="Ana López image" style="width: 100%; max-width: 300px; border-radius: 5px; margin-bottom: 20px;"></a>
    </div>



</body>
</html>
