<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisebentrips</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Sisebentrips</h1>
    <p>Welcome to our <strong><em>page</em></strong>, here you can select a driver to establish a new trip</p>

    <section>
        <h2>Ana López</h2>
        <a href="detail.html"><img src="../public/images/ana_lopez.jpg" alt="Ana López image" style="width: 100%; max-width: 300px; border-radius: 5px; margin-bottom: 20px;"></a>
    </section>


</body>
</html>
