<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Driver- CAR ME</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>New Driver</h1>
    <form class="card">
        <label for="DriverName">Nombre</label>
        <input type="text" id="DriverName" placeholder="Drivers Name">
        <label for="AutonomousComunity">Comunidad Autonoma</label>
        <input type="text" id="AutonomousComunity" placeholder="AutonomousComunity">
        <label for="vehicle">Vehiculo</label>
        <input type="text" id="vehicle" placeholder="Type of vehicle">
        <label for="Puntuation">Puntuacion</label>
        <input type="number" id="puntuation" placeholder="Puntuation">
        <label for="Availability">Disponibilidad</label>
        <input type="checkbox" id="Availability" placeholder="Availability of the driver">
        <label for="AvailableSpots">Ubicaciones Disponibles</label>
        <input type="text" id="AvailableSpots" placeholder="Spots availables">

        <button type="submit">Submit</button>
        <button type="button">Cancel</button>

    </form>
    
</body>
</html>