<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Driver- CAR ME</title>
</head>
<body>
    <h1>Darse de alta como conductor</h1>
    <form>
        <label for="DriverName">Nombre</label>
        <input type="name" id="DriverName" placeholder="Drivers Name">
        <label for="AutonomousComunity">Comunidad Autonoma</label>
        <input type="comunity" id="AutonomousComunity" placeholder="AutonomousComunity">
        <label for="vehicle">Vehiculo</label>
        <input type="vehicle" id="vehicle" placeholder="Type of vehicle">
        <label for="Puntuation">Puntuacion</label>
        <input type="puntuation" id="puntuation" placeholder="Puntuation">
        <label for="Availability">Disponibilidad</label>
        <input type="availability" id="Availability" placeholder="Availability of the driver">
        <label for="AvailableSpots">Ubicaciones Disponibles</label>
        <input type="availableSpots" id="AvailableSpots" placeholder="Spots availables">

        <button type="submit">Submit</button>
        <button type="cancel">Cancel</button>

    </form>
    
</body>
</html>